@page
@{
}

<br />
<br />
<br />
<br />
<br />
<br />

<section>

    <h1>Resultado da consulta</h1>

    <br />
    <br />

    <p style="color:red">@ViewBag.notFound</p>
    @Html.ActionLink("Cadastrar Paciente", "CadastroPaciente", "Pacientes")

</section>